# Virtual environment
.venv/
venv/
ENV/
env/

# Python bytecode / cache
__pycache__/
*.pyc
*.py[cod]
*$py.class

# Temporary archives & copies
Aadhar-pan-extraction-system_All_Files.zip
* - Copy.py
*.log

# IDE & OS files
.idea/
.vscode/
.DS_Store
Thumbs.db
